/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img  {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img  {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .PictureList label{
      width: 20%;
  }