.AlignCenter {
    text-align: center;
}
.AlignLeft {
    text-align: left;
}
.WidthControl50 {
    margin: auto;
    width: 50%;
}
.WidthControl80 {
    margin: auto;
    width: 80%;
}
.AutoCap {
    text-transform: capitalize;
}
.Underline {
    text-decoration: underline;
}
.CursorClick {
    cursor: pointer;
}
.Indent2 {
    text-indent: 2em;
}

@media (max-width: 800px) {
    .WidthControl50 {
        width: 100%;
    }
    .WidthControl80 {
        margin: auto;
        width: 100%;
    }
}

@media (max-width: 576px) {
    #ImageReviewerObj {
        margin: auto;
        object-fit: cover;
        max-height: 70vh;
    }
}

.AlternateIndent p:nth-child(even) {
    text-indent: 2em;
}

.AlternateIndent p:nth-child(odd) {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 0%;
}
