img{
    width: 25%;
    height: 25%;
}
.PreviewContainer{
    width: 100%;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.HeaderPreview{
    height:14vh;
}
.BodyPreview{
    height:69vh
}
.FooterPreview{
    height:14vh
}

.BodyPreview, .HeaderPreview, .FooterPreview{
    width: 100%
}